$colours_primary: #ffba03;
$colours_secondary: #5864C7;
$colours_secondary_light: #849cd4;
$colours_secondary_dark: #24253E;
$colours_white: #fefefe;
$colours_gray: #A6A8B8;
$colours_gray_dark: #484848;
$colours_black: #171717;